<section id="tree-wrapper" class="12-small small-centered columns">  
  <div class="selection menu">
    <h2><%= link_to "Menu", menus_path %></h2>
  </div>
  <div class="selection about">
    <h2><%= link_to "About", abouts_path %></h2>
  </div>
  <div class="selection blog">
    <h2><%= link_to "Blogs", blogs_path %></h2>
  </div>
  <div class="selection faq">
    <h2><%= link_to "FAQ", faqs_path %></h2>
  </div>
  <div class="selection join">
    <h2>Join us</h2>
  </div>
</section>

<section id="slider-wrapper" class="12-small small-centered columns">
  <ul class="slider" data-orbit>
    <% @slider_images.each do |image| %>
      <%= image_tag image[:source] %>
    <% end %>
  </ul> 
</section>
  
