<section id="menu-wrapper" class="small-12 columns">  
  
  <div class="filter-container small-12 medium-4 large-3 columns">
    <div class="filter indica small-4 medium-12 large-12 columns">
      <h2>Indica</h2>
    </div>
    <div class="filter sativa small-4 medium-12 large-12 columns">
      <h2>Sativa</h2>
    </div>
    <div class="filter search small-4 medium-12 large-12 columns">
      <input type="text" class="search" name="search" placeholder="search"></input>
    </div>
  </div>

  <div class="product-container small-12 medium-8 large-9 columns">
    <ul data-orbit>
      <% @menus.each do |menu| %>
        <li><%= image_tag menu.image %></li>
      <% end %>
    </ul>
  </div>
</section>

<table class="small-12 columns">
  <tbody>
    <% @menus.each do |menu| %> 
    <tr>
      <td><%= image_tag menu.image.thumb %></td>
      <td><%= menu.product %></td>
      <td><%= menu.location %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
