<nav> 
	<h2><%= link_to "The Healing Tree", splashes_path %></h2>
	<div class="menu">
		<span><%= link_to "About", abouts_path %></span>
		<span><%= link_to "Menu", menus_path %></span>
		<span><%= link_to "Blog", blogs_path %></span>
		<span><%= link_to "FAQ", faqs_path %></span>
		<span>Contact Us!</span>	
	</div>

	<div class="burger-menu">
  	<span class="menu-global menu-top"></span>
  	<span class="menu-global menu-middle"></span>
  	<span class="menu-global menu-bottom"></span>
	</div>
</nav>